body {
    /* Remove margins and padding around content */
    margin: 0;
    padding: 0;
    /* Fix background during scrolling */
    background-attachment: fixed;
    /* Use scalable background image (cross borwser) */
    background-image: url("../images/coast.jpg");
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #003A6C;
}

.gradBlue {
    /* Gradient for NavBar */
    background-image: -webkit-linear-gradient( top, #003A6C, gray);
    background-image: -moz-linear-gradient( top, #003A6C, gray);
    background-image: -ms-linear-gradient( top, #003A6C, gray);
    background-image: -o-linear-gradient( top, #003A6C, gray);
    background-image: linear-gradient( top, #003A6C, gray);
}

.imgRnd10 {
    /* Rounded image corners */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.imgRnd5 {
    /* Rounded image corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.imageShadow {
    /* Add drop shadow */
    -webkit-box-shadow: 2px 2px 3px 2px gray;
    -moz-box-shadow: 2px 2px 3px 2px gray;
    box-shadow: 2px 2px 3px 2px gray;
}

.divider {
    background-color: rgb(77, 118, 153);
    height: 5px;
    width: 95%;
    margin-left: 10px;
}

/* Header ............................................... */

header h3 {
    color: white;
}

.header a {
    font-size: 24px;
}

a:hover {
    font-size: 25px;
}

.brandLogo {
    width: 40px;
}

/* Container ........................................... */

.container {
    background-color: #DBE9F4;
    /* Transparent background */
    opacity: 0.9;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Set min height to fill larger screens */
    min-height: 800px;
}


/*  Footer ..................................... */
.footer {
    color: white;
    /* Controling the size of a jumbotron */
    padding-top: 10px;
    padding-bottom: 10px;
  }