body {
    /* Remove margins and padding around content */
    margin: 0;
    padding: 0;
    /* Fix background during scrolling */
    background-attachment: fixed;
    /* Use scalable background image (cross borwser) */
    background-image: url("../images/Background.jpg");
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #003A6C;
}

.gradBlue {
    /* Gradient for NavBar */
    background-image: -webkit-linear-gradient(top, #003A6C, gray);
    background-image: -moz-linear-gradient(top, #003A6C, gray);
    background-image: -ms-linear-gradient(top, #003A6C, gray);
    background-image: -o-linear-gradient(top, #003A6C, gray);
    background-image: linear-gradient(top, #003A6C, gray);
}

.imgRnd10 {
    /* Rounded image corners */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.imgRnd5 {
    /* Rounded image corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.imageShadow {
    /* Add drop shadow */
    -webkit-box-shadow: 2px 7px 7px 2px gray;
    -moz-box-shadow: 2px 7px 7px 2px gray;
    box-shadow: 2px 7px 7px 2px gray;
}

.imageRotate {
    /* Rotate Image */
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

/* Header ............................................... */
.brandName {
    color: rgb(216, 215, 219);
}

.header a {
    font-size: 24px;
}

a:hover {
    font-size: 25px;
}

.brandLogo {
    width: 40px;
}

/*  Footer ..................................... */
.footer {
    color: white;
    /* Controling the size of a jumbotron */
    padding-top: 10px;
    padding-bottom: 10px;
}

.redBorder {
    border: 2px solid red;
}

.grayBorder {
    border: 2px solid gray;
}

.divider {
    background-color: rgb(77, 118, 153);
    height: 5px;
    width: 95%;
    margin-left: 10px;
}

.topSubtitle {
    padding-top: 20px;
    margin-left: 3%;
    color: lightgray;
}

.contentEnvelop {
    background-color: #DBE9F4;
    opacity: 0.8;
    margin: 2% 5% 2% 7%;
    padding-bottom: 20px;   
}

.sectionHeader {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 3%;
}

.sectionContent {
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
}




/* Personal image ...............................*/
.personalImageHolder {
    margin: 40px 0px 20px 0px;
}

.personalImage {
    width: 270px;
    margin-top: 20px;
    margin-left: 20px;
}

.personalHeader {
  color:white;  
}
/* Personla links ............................*/
.perLinkGroup {
    margin: 20px 10px 20px 20px;
}

.perLinkFstRow {
    margin: 5px 0px 20px 0px;
}

.perLinkImgHolder {
    position: relative;
    margin-right: 5px;
}

.perLinkImg {
    width: 40px;
    padding-left: 0px;
    position: absolute;
    top: 0;
    left: 0;
}

.perLinkImg:hover {
    width: 45px;
}

/* Contact imaes and links ...................... */
.contactEnvelopLinks {
    /* background-color: #DBE9F4;
    opacity: 0.8; */
    margin: 2% 5% 2% 10%;
    padding-bottom: 20px; ;   
}

.contactImage {
    width: 50px;
    margin: 15px 0px 0px 0px;
}

.contactImage:hover {
    width: 55px;
}

.contactLinks {
    /* margin: 20px 0px 0px 0px; */
    margin: 25px 0px 0px 0px;
}

/* Article Cards ................................... */
.card {
    margin: 20px;
    width: 160px;
    height: 150px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    margin-top: 3px;
}

.card:hover {
    width: 170px;
    border: 3px solid blue;
}

/* Articles .......................................*/
.articleTitle {
    color: rgb(3, 3, 121);
    font-weight: bolder;
}

.articleSubtitle {
    color: gray;
}

.elementCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.articleLinkImg:hover {
    font-size: 35px;
}

.articleLinkImg {
    width: 30px;
    padding-left: 0px;
}

/*  Image sizes ...................................... */
.articleImage40 {
    width: 40%;
}

.articleImage50 {
    width: 50%;
}

.articleImage60 {
    width: 60%;
}

.articleImage70 {
    width: 70%;
}

.articleImage80 {
    width: 80%;
}

.articleImage90 {
    width: 90%;
}

.articleImage100 {
    width: 100%;
}