body {
    /* Remove margins and padding around content */
    margin: 0;
    padding: 0;
    /* Fix background during scrolling */
    background-attachment: fixed;
    /* Use scalable background image (cross borwser) */
    background-image: url("../images/clouds-3526558_1920.jpg");
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #003A6C;
}

.gradBlue {
    /* Gradient for NavBar */
    background-image: -webkit-linear-gradient(top, #003A6C, gray);
    background-image: -moz-linear-gradient(top, #003A6C, gray);
    background-image: -ms-linear-gradient(top, #003A6C, gray);
    background-image: -o-linear-gradient(top, #003A6C, gray);
    background-image: linear-gradient(top, #003A6C, gray);
}

.imgRnd10 {
    /* Rounded image corners */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.imgRnd5 {
    /* Rounded image corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.imageShadow {
    /* Add drop shadow */
    -webkit-box-shadow: 2px 2px 3px 2px gray;
    -moz-box-shadow: 2px 2px 3px 2px gray;
    box-shadow: 2px 2px 3px 2px gray;
}

.divider {
    background-color: rgb(77, 118, 153);
    height: 5px;
    width: 95%;
    margin-left: 10px;
}

/* Header ............................................... */
.brandName {
    color: rgb(216, 215, 219);
}

.header a {
    font-size: 24px;
}

a:hover {
    font-size: 25px;
}

.brandLogo {
    width: 40px;
}

/* Container ........................................... */
.container {
    background-color: #DBE9F4;
    /* Transparent background */
    opacity: 0.9;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Set min height to fill larger screens */
    min-height: 800px;
}

.personalImageHolder {
    margin: 20px 0px 20px 0px;
}

.personalImage {
    width: 170px;
    margin-top: 20px;
    margin-left: 20px;
}

.perLinkGroup {
    margin: 20px 10px 20px 20px;
}

.perLinkFstRow {
    margin: 5px 0px 20px 0px;
}

.perLinkImgHolder {
    position: relative;
    margin-right: 5px;
}

.perLinkImg {
    width: 40px;
    padding-left: 0px;
    position: absolute;
    top: 0;
    left: 0;
}

.perLinkImg:hover {
    width: 45px;
}

.topSubtitle {
    padding-top: 20px;
}

.otherSubtitle {
    padding-top: 10px;
}

/*  Footer ..................................... */
.footer {
    color: white;
    /* Controling the size of a jumbotron */
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Portfolio .................................. */
.portfImg {
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: 2px solid lightgray;
}

.portfRefImg {
    width: 40px;
    padding-left: 0px;
}

.card {
    margin: 20px;
    background-color: lightgray;
}

/* Contact form ............................. */
.divider {
    background-color: rgb(77, 118, 153);
    height: 5px;
    width: 98%;
    margin: 0px 5px 0px 5px;
}

.contactForm {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* mefia queries .............................. */
@media screen and (max-width: 576px) {
    div.leftContaner {
        display: none;
    }
}